.today{
    display: block;
    position: relative;
    width: 100%;
    max-width: 500px;
    max-height: 320px;
    background-color: #f6f8f8;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    /* background: linear-gradient(to bottom, #c3e6ec, #a7d1d9); */
    font-family: Arial, Helvetica, sans-serif;
}

.today p{
    color: black;
    text-align: center;
}

.today h1{
    color: black;
    text-align: center;
}